version: 2

default_env: &default_env
  PROJECT_NAME: premkit


docker_build: &docker_build
  docker:
    - image: circleci/golang:1.12
  working_directory: /go/src/github.com/premkit/premkit
  environment:
    <<: *default_env


jobs:

  build:
    <<: *docker_build
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Premkit
          command: |
            export BUILD_SHA=${CIRCLE_SHA1:0:7}
            export BUILD_VERSION=${CIRCLE_TAG//v}
            sudo -E PATH=$PATH make build_ci
            sudo chown -R circleci:circleci /home/circleci/.cache/
      - run:
          name: Build Swagger Spec
          command: |
            go get github.com/go-swagger/go-swagger/cmd/swagger
            make swagger_spec
      - run:
          name: Run Overalls
          command: |
            go get github.com/mattn/goveralls
            go get github.com/go-playground/overalls
            overalls -project=github.com/premkit/premkit -covermode=count -ignore=vendor,integration -- -v
            goveralls -service=circle-ci -repotoken=${COVERALLS_REPO_TOKEN} -coverprofile=overalls.coverprofile

      - persist_to_workspace:
          root: .
          paths:
            - bin
            - spec

  build_and_deploy:
    <<: *docker_build
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: .
      - run:
          name: Build image
          command: |
            docker build --no-cache --pull -t registry.replicated.com/library/premkit:$CIRCLE_TAG -f ./deploy/Dockerfile .
      # - run:
      #     name: Push the image
      #     command: |
      #       docker login -u $LIBRARY_TOKEN -p $LIBRARY_PASSWORD registry.replicated.com
      #       docker push registry.replicated.com/library/premkit:$CIRCLE_TAG


workflows:
  version: 2

  pull_request:
    jobs:
      - build:
          filters:
            branches:
              ignore: master

  deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*(-.*)*/
            branches:
              ignore: /.*/
      - push:
          requires:
            - build
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*(-.*)*/
            branches:
              ignore: /.*/
